<!DOCTYPE html>
<html>
<body>

<div align="center"><h3>Tweetbot</h3>

    <h1>Pick an Action</h1>

    <form action="/tiktokadmin/create">
        <input type="submit" value="Create new Tweet" id="jsSubmit1" style="width: 300px; margin: 0 auto;">
    </form>
    <form action="/tiktokadmin/schedule">
        <input type="submit" value="Schedule a Tweet" id="jsSubmit2" style="width: 300px; margin: 0 auto;">
    </form>
    <form action="/tiktokadmin/queue">
        <input type="submit" value="Manage Queues" id="jsSubmit3"style="width: 300px; margin: 0 auto;">
    </form>
    <form action="/tiktokadmin/responses">
        <input type="submit" value="Manage Responses" id="jsSubmit4"style="width: 300px; margin: 0 auto;">
    </form>
</div>

</body>
</html>