
<!DOCTYPE html>
<html>
<body>

    <h2>Manage a queue</h2>
    <p>queue name</p>
    <table border ="1">
        {% for tweets in tweet_list %}
        <tr>
            <td>
                <form action="{% url 'tiktokadmin:tweet_edit'  %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name = tweet_id ><input type="hidden" name = 'tweet_id' value='{{tweets.id}}' >{{tweets.tweet}}
                    <input type="hidden" name = 'queue_id' value='{{queue_id}}' >
                    <input type="submit" value="Edit" >
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>


    <br>
    <form action="{% url 'tiktokadmin:queue_delete'  %}" method="post">
        {% csrf_token %}
    <input type="checkbox" name="queue_id" value='{{queue_id}}'>Delete queue
    <br>
    <input type="submit" value="Submit"/></form>

</body>
</html>
