
<!DOCTYPE html>
<html>
<body>

<form action="{% url 'tiktokadmin:tweet_edit'  %}" method="post">
    <h2>Manage a queue</h2>
    <p>queue name</p>
    <table border ="1">
        {% for tweets in tweet_list %}
        <tr>
            <td><option values = "{{tweets.id}}">{{tweets.tweet}}</option></td>
        </tr>
        {% endfor %}
    </table>
    <input type="submit" value="Submit"/>

    <br>
    <input type="checkbox" name="checkbox[]" value="Delete queue">Delete queue <
    <br>
    <input type="submit" value="Submit"/></form>

</body>
</html>
