<!DOCTYPE html>
<html>
<body>

<form method="post">
    <h2>Manage responses</h2>
    <h3>{{ queuelist.name }}</h3>
    <table border ="1">
        {% for response in responsequeue_list %}
        <tr>

            <td><input type="hidden" name = 'response' value='{{response.id}}' >{{response.user}}: "{{response.response}}" at {{response.time_received}}</td>

        </tr>
        {% endfor %}

    </table>

    <form action="/tiktokadmin/">
        <input type="submit" value="Home" id="jsSubmit1" >
    </form>



</body>
</html>