<!DOCTYPE html>
<html>

<body>



<h2>Schedule a Tweet</h2>

<form action="{% url 'tiktokadmin:add_queue'  %}" method="post">
    {% csrf_token %}
    <br>

    <table border ="1">
        {% for tweets in tweet_list %}
        <tr>
            <td>

                <input type = 'hidden' name = 'tweet_id' value = "{{tweets.id}}">{{tweets.tweet}}
                <input type="submit" value="Add to queue" ></td>

        </tr>

        {% endfor %}
    </table>


</form>
<br>

<form action="/tiktokadmin/">
    <input type="submit" value="Home" id="jsSubmit1" >
</form>






</body>
</html>