<!DOCTYPE html>
<html>
<body>


    <h2>Edit Tweet</h2>
    <form action="{% url 'tiktokadmin:tweet_final'  %}" method="post">
        {% csrf_token %}

        <textarea  name = 'tweettext' cols="20" rows="5">{{ tweet_data.tweet }}</textarea><input type="hidden" name = 'tweet_id' value='{{tweet_data.id}}' >
        <input type="hidden" name = 'queue_id' value='{{queue_id}}' ><input type="hidden" name = 'old_tweet_time' value='{{time_to_send}}' >
        <br><br>
        <script type="text/javascript">
         function changeThis(){
         var formInput = document.getElementById('time_send_send').value;
         document.getElementById('newText').innerHTML = formInput;
         }
         </script>
        <p>Time to tweet in the form yyyy-mm-dd hh:mm:ss  <span id='newText'></span> </p>


        <input type='datetime' name='new_time' value='{{time_to_send}}' />


        <br>

        <input type="submit" value="Submit"/>

    </form>
    <br>
    <form action="/tiktokadmin/">
        <input type="submit" value="Home" id="jsSubmit1" >
    </form>
    </body>
    </html>